# parquets (cualquier archivo con extensión .parquet)
*.parquet

# entorno
.ACTINVER

# logs
*.log

#csv
data/raw/*.csv
outputs/*.csv
data/processed/*.csv

#cpython
__pycache__/

# jupyter
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
#ejecuciones
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

# excel
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xlsm
*.xlsb
*.xlsm
*.xlsb

# backtest & last run
data/processed/backtest_results.parquet
data/processed/backtest_metrics.json
data/processed/last_run.json
*.json

# reportes
reports/*

#pdf
*.pdf

# pptx
*.pptx