# parquets (cualquier archivo con extensión .parquet)
data/processed/*.parquet
outputs/*.parquet

# entorno
.ACTINVER

# logs
*.log

#csv
data/raw/*.csv
outputs/*.csv
data/processed/*.csv

#cpython
__pycache__/

# jupyter
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
#ejecuciones
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz